<mt:unless name="asset_gallery_js">
    <script type="text/javascript" src="<mt:var name="static_uri">jquery/jquery.js"></script>
    <script type="text/javascript" src="<mt:var name="static_uri">jquery/ui/ui.core.js"></script>
    <script type="text/javascript" src="<mt:var name="static_uri">jquery/ui/ui.sortable.js"></script>
    <script type="text/javascript" src="<mt:var name="static_uri">plugins/AssetGallery/js/jquery.MultiFile.pack.js"></script>
    <script type="text/javascript" src="<mt:var name="static_uri">plugins/AssetGallery/js/field.js"></script>
    <link rel="stylesheet" type="text/css" href="<mt:var name="static_uri">plugins/AssetGallery/css/field.css" />
</mt:unless>

<script type="text/javascript">
$(document).ready( function() {
  $('#<$mt:var name="field_id"$>_multifile').MultiFile({
    STRING: { 
      remove: '<img src="<mt:var name="static_uri">plugins/AssetGallery/images/delete.png" height="16" width="16" alt="x"/>' 
    } 
    ,namePattern: '$name_$i'
  });
  $('ul.gallery-asset-list').sortable({
    stop : function (event, ui) { 
      var id = $(this).attr('mt:field_id');
      var order = '';
      $('.gallery-asset-list li').each( function() {
        if (order != '') order += ',';
        order += $(this).attr('mt:asset_id');
      });
      $('#'+id).val( order );
    } 
  });
});
</script>

<$mt:var name="asset_gallery_js" value="1"$>

<input type="hidden" name="<mt:var name="field_id">" value="<mt:var name="field_value">" id="<mt:var name="field_id">" />
    
<mt:unless name="field_value">
    <!-- If there's' nothing in the gallery, just show file upload -->
    <input type="file" id="<mt:var name="field_id">_multifile" name="<mt:var name="field_id">_multifile" />
<mt:else>
    <div id="<mt:var name="field_id">_listing" style="margin-top: 20px;">
        <mt:loop name="asset_loop">
            <mt:if __first__>
            <ul mt:field_id="<$mt:var name="field_id"$>" class="gallery-asset-list">
            </mt:if>
                    <li id="asset-<mt:var name="id">" mt:asset_id="<mt:var name="id">" 
                          class="<mt:if name="__odd__">odd<mt:else>even</mt:if> pkg">
                        <div class="gallery-thumbnail list-col">
                            <img src="<$mt:var name="thumbnail_url"$>" />           
                        </div>
                        <div class="gallery-asset list-col">
                          <div class="display">
                            <a href="<$mt:var name="script_url"$>?__mode=view&amp;_type=<mt:var name="object_type">&amp;id=<$mt:var name="id"$>&amp;blog_id=<$mt:var name="blog_id"$>" title="<$mt:var name="file_name"$>"><span class="label"><mt:if name="label"><$mt:var name="label" escape="html"$><mt:else><$mt:var name="file_name"$></mt:if></span></a>
                            <mt:if name="url"><a href="<mt:var name="url">" target="view_uploaded" title="<__trans phrase="View">"><img src="<mt:var name="static_uri">images/status_icons/view.gif" alt="<__trans phrase="View">" width="13" height="9" /></a></mt:if>
                            <br />
                            <span class="caption"><mt:if name="description"><$mt:var name="description" encode_html="1"$><mt:else>No caption.</mt:if></span>
                          </div>
                          <div class="editform">
                            <input class="label" type="text" title="<__trans phrase="Enter Title">" name="asset_<mt:var name="field_basename">_<mt:var name="asset_id">_label" value="<mt:var name="label" encode_html="1">" />
                            <br />
                            <input class="caption" type="text" title="<__trans phrase="Enter Description">" name="asset_<mt:var name="field_basename">_<mt:var name="asset_id">_description" value="<mt:var name="description" encode_html="1">" />
                          </div>
                        </div>
                        <div class="gallery-actions list-col">
                          <a href="#" class="edit-asset" mt:asset_id="<$mt:var name="asset_id"$>"><img src="<mt:var name="static_uri">plugins/AssetGallery/images/pencil.png" height="16" width="16" /></a>
                          <a href="#" class="remove-asset" mt:asset_id="<$mt:var name="asset_id"$>"><img src="<mt:var name="static_uri">plugins/AssetGallery/images/delete.png" height="16" width="16" /></a>
                          <button>OK</button>
                        </div>
                    </li>
<mt:if name="__last__">
             </ul>
        <mtapp:setting id="gallery_upload_queue" class="gallery_upload_queue" label="<__trans phrase="Upload Queue">" show_label="1">
            <input type="file" id="<mt:var name="field_id">_multifile" name="<mt:var name="field_id">_multifile" />
        </mtapp:setting>
</mt:if>      
        </mt:loop>
    </div>
    
</mt:unless>
